* {
    margin: 0;
}


header {
    width: 90%;
    margin: 50px auto;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav .links ul {
    display: flex;
    justify-content: space-evenly;

}

nav .links li,
a {
    margin-right: 30px;
    text-decoration: none;
    color: black;
    list-style: none;
}

.banner-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    gap: 60px;
}

.banner-container>div {
    width: 50%;
}

.banner-container .banner-text .elements {
    margin-bottom: 20px;
}

.banner-container .banner-img {
    background-image: url('../images/Circle\ design.svg');
    background-size: 73%;
    background-repeat: no-repeat;
    text-align: center;
    background-position: center;
}

.banner-container .banner-img img {
    width: 75%;
}

main {
    width: 90%;
    margin: 10px auto;
}


.logos {
    display: flex;
    justify-content: space-evenly;
    margin-left: 60px;
    

}

.heading {
    width: 80%;
    margin: 150px auto;
    margin-bottom: 50px;
    text-align: center;
}

.sec-2 {
    width: 90%;
    margin: 30px auto;

}

.prodects-container {
    width: 100%;
    height: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    
}

.prodects-container .items {
    padding: 10px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.prodects-container .items img{
    width: 100%;
}

.see{
    width: 90%;
    margin: 100px auto;
    /* border: 2px solid red; */
}
.see-more{
    width: 100%;
    margin: 50px auto;
    text-align: right;
}

.feature-container{
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.feature-container>div{
    width: 50%;
    height: 300px;
    /* border: 2px solid red; */
}

.feature-container .feature-text .items{
    margin-top: 30px;
}

.feature-container .feature-img img{
    width: 90%;
    height: 300px;
}

.feature-container .feature-text h1{
    font-size: 2.5rem;
}

footer{
    width: 100%;
    height: 300px;
    background: #0A0826;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot-container{
    width: 30%;
    height: 100px;
    text-align: center;
    /* border: 2px solid wheat; */
    color: #FFF;
    
}

.foot-container h1{
    font-size: 2.5rem;
    margin-bottom: 50px;
}

.foot-container .fa-brands{
   font-size: 50px;
    
}

.hidden{
    display: none;
}